<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="keiransaxty.trueorfalse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".QuestionScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndGameScreen"
            android:label="@string/title_activity_end_game_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuScreen"
            android:label="@string/title_activity_menu_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LeaderboardScreen"
            android:label="@string/title_activity_leaderboard_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RowHighscore"
            android:label="@string/title_activity_row_highscore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParseInitialiser"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AboutScreen"
            android:label="@string/title_activity_about_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuideScreen"
            android:label="@string/title_activity_guide_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DifficultyScreen"
            android:label="@string/title_activity_difficulty_screen"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
